In [57]:
import pandas as pd

In [59]:
df = pd.read_csv('E0.csv')
pd.options.display.max_columns = 120
df.info()
df.head(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 360 entries, 0 to 359
Columns: 120 entries, Div to BFECAHA
dtypes: float64(96), int64(16), object(8)
memory usage: 337.6+ KB

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR,B365H,B365D,B365A,BWH,BWD,BWA,BFH,BFD,BFA,PSH,PSD,PSA,WHH,WHD,WHA,1XBH,1XBD,1XBA,MaxH,MaxD,MaxA,AvgH,AvgD,AvgA,BFEH,BFED,BFEA,B365>2.5,B365<2.5,P>2.5,P<2.5,Max>2.5,Max<2.5,Avg>2.5,Avg<2.5,BFE>2.5,BFE<2.5,AHh,B365AHH,B365AHA,PAHH,PAHA,MaxAHH,MaxAHA,AvgAHH,AvgAHA,BFEAHH,BFEAHA,B365CH,B365CD,B365CA,BWCH,BWCD,BWCA,BFCH,BFCD,BFCA,PSCH,PSCD,PSCA,WHCH,WHCD,WHCA,1XBCH,1XBCD,1XBCA,MaxCH,MaxCD,MaxCA,AvgCH,AvgCD,AvgCA,BFECH,BFECD,BFECA,B365C>2.5,B365C<2.5,PC>2.5,PC<2.5,MaxC>2.5,MaxC<2.5,AvgC>2.5,AvgC<2.5,BFEC>2.5,BFEC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,16/08/2024,20:00,Man United,Fulham,1,0,H,0,0,D,R Jones,14,10,5,2,12,10,7,8,2,3,0,0,1.60,4.2,5.25,1.6,4.4,5.25,1.60,4.33,5.00,1.63,4.38,5.30,1.65,4.2,5.00,1.68,4.32,5.03,1.68,4.5,5.50,1.62,4.36,5.15,1.66,4.5,5.60,1.53,2.50,1.56,2.56,1.57,2.60,1.53,2.52,1.59,2.64,-1.0,2.05,1.88,2.07,1.86,2.07,1.89,2.03,1.85,2.10,1.88,1.67,4.10,5.00,1.65,4.20,4.80,1.62,4.0,5.00,1.65,4.23,5.28,1.60,4.2,5.50,1.66,4.15,5.33,1.70,4.33,5.50,1.66,4.20,5.02,1.72,4.2,5.40,1.62,2.3,1.63,2.38,1.66,2.45,1.61,2.37,1.68,2.46,-0.75,1.86,2.07,1.83,2.11,1.88,2.11,1.82,2.05,1.90,2.08
1,E0,17/08/2024,12:30,Ipswich,Liverpool,0,2,A,0,0,D,T Robinson,7,18,2,5,9,18,2,10,3,1,0,0,8.50,5.5,1.33,7.5,5.5,1.36,8.50,5.50,1.33,8.18,5.84,1.34,8.50,5.5,1.33,8.60,5.85,1.35,9.00,6.1,1.37,8.28,5.76,1.34,9.40,6.2,1.36,1.40,3.00,1.41,3.00,1.43,3.07,1.41,2.94,1.45,3.15,1.5,2.02,1.91,1.99,1.92,2.02,1.95,1.97,1.90,2.04,1.93,8.00,5.75,1.33,8.00,5.75,1.34,7.50,5.5,1.33,8.14,6.09,1.34,8.00,5.5,1.35,8.57,5.85,1.34,8.57,6.25,1.39,7.87,5.81,1.35,8.60,6.2,1.37,1.36,3.2,1.37,3.30,1.40,3.38,1.37,3.18,1.40,3.40,1.50,2.05,1.88,2.04,1.90,2.20,2.00,1.99,1.88,2.04,1.93
2,E0,17/08/2024,15:00,Arsenal,Wolves,2,0,H,1,0,H,J Gillett,18,9,6,3,17,14,8,2,2,2,0,0,1.18,7.5,13.00,1.2,7.5,13.50,1.15,8.00,16.00,1.16,8.56,16.22,1.18,7.0,17.00,1.20,7.65,16.00,1.20,9.1,18.00,1.18,7.86,15.87,1.19,9.0,18.00,1.44,2.75,1.46,2.79,1.50,2.82,1.46,2.70,1.53,2.84,-2.0,1.93,2.00,1.88,2.00,1.97,2.00,1.90,1.96,1.94,2.00,1.14,8.50,15.00,1.16,8.50,18.00,1.13,8.5,17.00,1.15,9.05,18.76,1.15,8.0,19.00,1.16,9.39,16.60,1.17,9.40,21.00,1.15,8.62,18.11,1.17,9.4,21.00,1.40,3.0,1.41,2.98,1.45,3.00,1.42,2.93,1.44,3.20,-2.25,2.02,1.91,2.00,1.90,2.05,1.93,1.99,1.87,2.02,1.96

In [73]:
df[['HomeTeam', 'AwayTeam','FTR', 'HS','HST']]

          HomeTeam        AwayTeam FTR  HS  HST
0       Man United          Fulham   H  14    5
1          Ipswich       Liverpool   A   7    2
2          Arsenal          Wolves   H  18    6
3          Everton        Brighton   A   9    1
4        Newcastle     Southampton   H   3    1
..             ...             ...  ..  ..  ...
355      Newcastle         Chelsea   H  15    6
356     Man United        West Ham   A  20    5
357  Nott'm Forest       Leicester   D  15    4
358      Tottenham  Crystal Palace   A   8    1
359      Liverpool         Arsenal   D  14    5

[360 rows x 5 columns]

In [63]:
df[df['HomeTeam'].eq('Tottenham') | df['AwayTeam'].eq('Tottenham')][['HomeTeam', 'AwayTeam', 'FTR', 'HS', 'HST']]

           HomeTeam        AwayTeam FTR  HS  HST
9         Leicester       Tottenham   D   7    3
15        Tottenham         Everton   H  13    7
28        Newcastle       Tottenham   H   9    3
38        Tottenham         Arsenal   A  15    5
46        Tottenham       Brentford   H  23   10
58       Man United       Tottenham   A  11    2
69         Brighton       Tottenham   H  11    4
70        Tottenham        West Ham   H  22    7
87   Crystal Palace       Tottenham   H  14    6
97        Tottenham     Aston Villa   H  16    6
108       Tottenham         Ipswich   A  17    5
116        Man City       Tottenham   A  23    5
128       Tottenham          Fulham   D   8    3
139     Bournemouth       Tottenham   H  21    8
147       Tottenham         Chelsea   A  13    5
157     Southampton       Tottenham   A   9    3
168       Tottenham       Liverpool   A   9    5
173   Nott'm Forest       Tottenham   H  10    3
183       Tottenham          Wolves   D  13    3
189       Tottenham       Newcastle   A  13    4
206         Arsenal       Tottenham   H  14    4
214         Everton       Tottenham   H  12    6
226       Tottenham       Leicester   A  15    6
235       Brentford       Tottenham   A  20    4
249       Tottenham      Man United   H  22    7
256         Ipswich       Tottenham   A  17    5
268       Tottenham        Man City   A  11    6
278       Tottenham     Bournemouth   D  12    4
287          Fulham       Tottenham   H  13    4
298         Chelsea       Tottenham   H  11    5
306       Tottenham     Southampton   H  13    8
316          Wolves       Tottenham   H  13    5
329       Tottenham   Nott'm Forest   A  22    6
338       Liverpool       Tottenham   H  25    8
347        West Ham       Tottenham   D  11    2
358       Tottenham  Crystal Palace   A   8    1

In [53]:
team = input("Enter team name: ")

# Check if the team name exists in the dataset
teams = pd.unique(df[['HomeTeam', 'AwayTeam']].values.ravel())

if team in teams:
    filtered = df[(df['HomeTeam'] == team) | (df['AwayTeam'] == team)][['HomeTeam', 'AwayTeam', 'FTR', 'HS', 'HST']]
    print(filtered)
else:
    print("Incorrect team name. Please check spelling and try again.")

Enter team name:  Chelsea

           HomeTeam        AwayTeam FTR  HS  HST
8           Chelsea        Man City   A  10    3
18           Wolves         Chelsea   A  12    4
27          Chelsea  Crystal Palace   D  13    7
37      Bournemouth         Chelsea   A  19    7
40         West Ham         Chelsea   A  15    7
53          Chelsea        Brighton   H  15    7
68          Chelsea   Nott'm Forest   D  22    8
78        Liverpool         Chelsea   H   9    5
86          Chelsea       Newcastle   H  17    7
98       Man United         Chelsea   D  11    4
109         Chelsea         Arsenal   D  17    3
110       Leicester         Chelsea   A   4    1
126         Chelsea     Aston Villa   H  17    8
135     Southampton         Chelsea   A   6    4
147       Tottenham         Chelsea   A  13    5
156         Chelsea       Brentford   H  26    8
164         Everton         Chelsea   D   5    4
171         Chelsea          Fulham   A  12    8
186         Ipswich         Chelsea   H   9    6
192  Crystal Palace         Chelsea   D  13    6
200         Chelsea     Bournemouth   D  26   10
218         Chelsea          Wolves   H  19    7
224        Man City         Chelsea   H  15    6
238         Chelsea        West Ham   H  22    3
240        Brighton         Chelsea   H  13    5
258     Aston Villa         Chelsea   H  12    6
264         Chelsea     Southampton   H  19   10
277         Chelsea       Leicester   H  20    7
286         Arsenal         Chelsea   H  12    4
298         Chelsea       Tottenham   H  11    5
304       Brentford         Chelsea   D   9    2
314         Chelsea         Ipswich   D  34    9
325          Fulham         Chelsea   A   6    1
332         Chelsea         Everton   H  10    7
348         Chelsea       Liverpool   H  17    7
355       Newcastle         Chelsea   H  15    6